body {
  background: rgba(136, 136, 136, 0.632);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-align: center;
}

.quotes-container {
  display: flex;
  flex-direction: row;
  width: 90%;
  height: 100%;
  text-align: center;
  margin: auto;
  background: #a7a7a7c6;
  justify-content: space-around;
}

.quotes-card {
  width: 90%;
  padding: 2rem;
  margin: 1rem;
  border: 1px dotted #e6eba0;
  list-style-type: none;
  background: #818181bd;
  text-align: center;
}

.quotes-text {
  font-style: italic;
  list-style: none;
}

.title {
  font-size: 90px;
  text-align: center;
}

.images {
  max-width: 1024px;
  width: 30%;
  margin: auto;
}

.events-container {
  display: flex;
  flex-direction: row;
  width: 90%;
  height: 100%;
  margin: auto;
  background: #a7a7a7c6;
  justify-content: space-around;
}

.events-card {
  list-style: none;
  padding: 2rem;
  margin: 1rem;
  border: 1px dotted #e6eba0;
  background: #fffffe5d;
}

.favorites-container {
  display: flex;
  flex-direction: row;
  width: 90%;
  height: 100%;
  text-align: center;
  margin: auto;
  background: #a7a7a7c6;
  justify-content: space-around;
}
